@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap");

/* Main CSS files for Clouds and Spaceships */
/* Mobile first */

/* For mobile*/
* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  background-color: #02181f;
  color: #ffffff;
  font-family: "Lora", serif;
}

h1,
h2 {
  font-family: "Copperplat", fantasy, serif;
}

h1 {
  font-size: 5vw;
}

h2 {
  margin: 8px 0;
  background-color: #925505;
  border: 1px outset #f0a202;
  width: 100%;
  padding: 8px;
}

p {
  line-height: 2;
}

a:-webkit-any-link {
  color: #aaaaaa;
  text-decoration: none;
}

a:hover {
  color: #f0a202;
  text-decoration: none;
}

/* Header */
header {
  height: 30vh;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-video {
  width: 100%;
  position: absolute;
  z-index: -100;
  display: flex;
  align-self: flex-start;
}

.wrapper {
  max-width: 85%;
  margin: 0 auto;
}

/* Nav-bars */

#logo {
  height: 40px;
}

#logo img {
  height: 100%;
}

#nav-btns {
  display: none;
}

.menu-btn,
.close-btn {
  display: block;
  font-size: 24px;
  cursor: pointer;
}

.close-btn {
  display: none;
}

.mobile-nav {
  display: flex;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 500px;
  left: 0;
  align-items: center;
  justify-self: center;
  background: black;
  flex-direction: column;
  padding: 0;
  pointer-events: none;
  opacity: 0;
}

.mobile-nav.active {
  opacity: 1;
  top: 0;
  pointer-events: auto;
}

.mobile-nav li {
  margin: 16px 8px;
}

.mobile-nav span {
  margin-left: 10px;
}

.mobile-nav li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  position: relative;
}

.mobile-nav li a:before {
  content: "";
  width: 100%;
  position: absolute;
  top: -12px;
  border-top: 1px solid white;
}

nav.scrolled .menu-btn {
  color: black;
}

/* Sections */
section {
  padding: 1vh 1vh 0 1vh;
}

/* Contents */

/* About */

#about {
  flex-direction: column;
  align-items: center;
}

#about .thumbnail {
  height: 200px;
}

#about .thumbnail img {
  height: 100%;
}

/* Explore */
#explore {
  background: url(../Images/1.jpg) #f5ad40;
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
}

.explore-gallery .img-card {
  width: 140px;
}

.explore-gallery .img-card img {
  width: 100%;
}

/* New Story Lines ---------------------------------------------------------------*/
.storylines {
  flex-direction: column;
  align-items: center;
}

.story-snippet {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.story-snippet img {
  width: 300px;
  border-radius: 45%;
  margin: 24px;
}

.storylines h3 {
  margin: 8px;
  font-weight: normal;
}

/* Contact*/

/* Tablet/Desktop version--------------------------------------------------------*/

/* Header */
@media only screen and (min-width: 800px) {
  header {
    height: 100vh;
  }

  /* Navbar */
  nav {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    max-width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    /* background-color: #151d0d; */
    margin: 0 auto;
    color: white;
    transition: all 0.4s;
  }

  nav.scrolled {
    background-color: white;
    height: 40px;
    box-shadow: 0 4px 10px -1px rgba(0, 0, 0, 0.75);
  }

  nav.scrolled #nav-btns li a {
    color: rgba(0, 0, 0, 0.75);
  }

  #nav-btns {
    display: flex;
  }

  #nav-btns li {
    list-style: none;
    margin: 0 16px;
  }

  #nav-btns a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
  }

  #nav-btns a:hover {
    color: #f0a202;
    text-decoration: none;
  }

  .menu-btn,
  .close-btn,
  .mobile-nav {
    display: none;
  }

  /* Section */
  section {
    padding: 40px;
    display: flex;
  }

  section .thumbnail img {
    height: 400px;
    padding: 40px 0 0 40px;
  }

  /* Contents */
  /* .container {
    grid-template-columns: auto auto auto;
    gap: 3vh;
    padding: 0 1vh 0 1vh;
  } */

  /* Explore */
  .active-explore {
    max-width: 50%;
    position: relative;
    margin: 50px auto 50px;
  }

  .active-explore img,
  .explore-gallery .img-card img {
    width: 100%;
    border: 2px solid #ece2d0;
  }

  .active-img-desc {
    position: absolute;
    bottom: 3%;
    left: 16px;
    right: 16px;
    background-color: #1f0318;
    border: 1px solid #ece2d0;
    padding: 16px;
  }

  .explore-gallery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .explore-gallery .img-card {
    width: 10%;
    margin: 8px;
    cursor: pointer;
  }

  .explore-gallery .img-card:hover {
    width: 18%;
  }

  .explore-gallery .img-card img:hover {
    border-color: rgb(204, 99, 1);
  }

  .explore-gallery .img-card .img-desc {
    display: none;
  }

  /* Storylines */
  /* .story-snippet {
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  } */
}

/* Contact Form */

.contact {
  flex-direction: column;
}

.contact form {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  width: 50%;
  margin-top: 50px;
}

.contact form input,
.contact form textarea {
  padding: 12px;
  margin: 8px 0;
  font-family: "Raleway", sans-serif;
}

.contact form input[type="submit"] {
  background: rgb(43, 42, 42);
  color: white;
  border: 1px outset #f0a202;
}

/* Footer*/

footer {
  background: black;
  color: #aaaaaa;
  text-align: center;
  padding: 16px;
}

footer i {
  transition: all 0.6s;
}

.social-icons {
  margin: 16px;
  font-size: 32px;
}

.social-icons a {
  color: #aaaaaa;
  margin-right: 15px;
}

.social-icons .fab.fa-github:hover {
  color: #f0a202;
}

.social-icons .fab.fa-youtube:hover {
  color: #ff0000;
}

.social-icons .fandom:hover {
  color: purple;
}

.social-icons .wantedly,
.social-icons .fandom {
  font-size: 1.5rem;
}

.social-icons span {
  margin-right: 30px;
}

/* HD screens--------------------------------------------------------*/
/* @media only screen and (min-width: 1279px) {

} */

/* 4k screens -------------------------------------------------------- */
/* @media only screen and (min-width: 3839px) {
} */
