@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap");

/* Main CSS files for Clouds and Spaceships */
/* Root Variables*/
:root {
  /* Sizing */
  --sz-st-font: 1rem;

  /* Colors */
  --cl-bg-main: hsl(95, 100%, 3%);
  --cl-contrast-1: hsl(194, 88%, 6%);
  --cl-decoration-1: hsl(34, 93%, 30%);
  --cl-decoration-2: hsl(40, 98%, 47%);

  --cl-st-text: hsl(0, 0%, 96%);
  --cl-sp-text: hsl(39, 42%, 87%);

  --st-border: 1px outset #f0a202;

  /* Fonts */
  --ft-main: "Lora", serif;
  --ft-header: "Copperplat", fantasy, serif;

  /* Animations */
  --st-trans: all 0.4s;
}

/* Mobile first */

/* For mobile*/
* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  background: url(../Images/bg_vine_pattern.jpg) var(--cl-bg-main);
  color: var(--cl-st-text);
  font-family: var(--ft-main);
}

h1,
h2,
h3,
h4 {
  font-family: "Copperplat", fantasy, serif;
}

h1 {
  font-size: clamp(3rem, 7vw, 7rem);
  padding: 2.5rem 2rem 0 2rem;
}

h2 {
  margin: 8px 0;
  background-color: var(--cl-decoration-1);
  border: var(--st-border);
  width: 100%;
  padding: 8px;
}

h3 {
  font-size: clamp(0.8rem, 4vw, 2.5rem);
  padding: 0 3rem 1rem 5rem;
  color: var(--cl-st-text);
}

h4 {
  padding-top: 3vh;
  padding-left: 5vw;
}

h5 {
  font-size: 1.3rem;
  margin-top: 1rem;
}

p {
  line-height: 2;
}

a:-webkit-any-link {
  color: #aaaaaa;
  text-decoration: none;
}

a:hover {
  color: var(--cl-decoration-2);
  text-decoration: none;
}

/* Header */
header {
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(0deg, #0c013d88 30%, #ffffff44 100%);
}

#landing {
  display: block;
}

.main-video {
  display: none;
}

.wrapper {
  background: rgba(0, 0, 0, 0.2);
  max-width: 100%;
  margin: 0 auto 20px;
}

/* Nav-bar */
nav {
  height: 60px;
  display: flex;
  justify-content: space-between;
  padding: 4px;
  max-width: 100%;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 100;
  margin: 0 auto;
  color: white;
  transition: var(--st-trans);
}

#logo {
  top: 0;
  height: 30px;
}

#logo img {
  height: 100%;
}

#nav-btns {
  display: none;
}

#nav-btns a {
  color: white;
}

.menu-btn,
.close-btn {
  display: block;
  font-size: 24px;
  cursor: pointer;
}

nav.scrolled .menu-btn {
  color: var(--cl-decoration-2);
}

.close-btn {
  display: none;
  z-index: 1000;
}

.mobile-nav {
  display: flex;
  position: fixed;
  height: 100%;
  width: 30%;
  right: 0;
  align-items: center;
  justify-content: center;
  background: rgb(63, 63, 63, 0.8);
  flex-direction: column;
  padding: 0;
  pointer-events: none;
  opacity: 0;
  transition: var(--st-trans);
  border: rgb(241, 241, 241, 0.2) groove 2px;
}

.mobile-nav.active {
  opacity: 1;
  pointer-events: auto;
}

.mobile-nav li {
  margin: 16px 8px;
  list-style: none;
}

.mobile-nav span {
  margin-left: 10px;
  font-family: "Copperplat", fantasy, serif;
}

.mobile-nav li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  position: relative;
}

.mobile-nav li a:before {
  content: "";
  width: 100%;
  position: absolute;
  top: -12px;
  border-top: 1px solid white;
}

/* Dropdown*/
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 27px;
  right: 5.9rem;
  min-width: 120px;
  z-index: 1000;
  background-color: rgb(241, 241, 241, 0.4);
  border: 3px whitesmoke;
  border-style: none none none groove;
  color: black;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: var(--cl-sp-text);
}

.dropdown-btn:hover .dropdown-content,
.dropdown-content:hover {
  display: block;
}

/* Sections */
section {
  padding: 1vh 2vh 0 2vh;
}

/* Contents */

/* About */

#about {
  flex-direction: column;
  align-items: center;
}

#about .thumbnail {
  height: 200px;
}

#about .thumbnail img {
  height: 100%;
}

/* Mobile-Explore */

.wide {
  background: url(../Images/1.jpg) var(--cl-decoration-2);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#explore {
  display: none;
}

/* New Story Lines ---------------------------------------------------------------*/
.storylines {
  flex-direction: column;
  align-items: center;
}

.story-snippet {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.story-snippet img {
  max-width: 60%;
  max-height: 500px;
  border-radius: 2%;
  margin: 24px;
}

.storylines h3 {
  margin: 8px;
  font-weight: normal;
}

.story-snippet > button {
  margin-top: 20px;
  margin-bottom: 20px;
  background: none;
  border: none;
  color: #03923f;
  font-weight: bolder;
}

.fulltext {
  margin-top: 50px;
}

/* Contact---------------------------------------------------------------*/

.contact {
  height: 70vh;
  flex-direction: column;
  margin-top: 30px;
}

.contact form {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  width: 100%;
  margin-top: 20px;
}

.contact form input,
.contact form textarea {
  padding: 12px;
  margin: 8px 0;
  font-family: "Raleway", sans-serif;
}

.contact form input[type="submit"] {
  background: rgb(43, 42, 42);
  color: white;
  border: 1px outset #f0a202;
}

/* Footer---------------------------------------------------------------*/

footer {
  background: black;
  color: #aaaaaa;
  text-align: center;
  padding: 16px;
}

footer i {
  transition: var(--st-trans);
}

.social-icons {
  margin: 16px;
  font-size: 24px;
}

.social-icons a {
  color: #aaaaaa;
  padding: 15px;
}

.social-icons .fab.fa-facebook:hover {
  color: hsl(236, 100%, 30%);
}

.social-icons .fab.fa-twitter:hover {
  color: hsl(209, 98%, 47%);
}

.social-icons .fab.fa-github:hover {
  color: var(--cl-decoration-2);
}

.social-icons .fab.fa-youtube:hover {
  color: #ff0000;
}

.social-icons .fandom:hover {
  color: purple;
}

.social-icons .fandom {
  font-size: 1.3rem;
}

/* Smartphone upright--------------------------------------------------------*/
/* Header */
@media only screen and (max-width: 400px) {
}

/* Tablet/Desktop version--------------------------------------------------------*/
/* Header */
@media only screen and (min-width: 800px) {
  h1 {
    font-size: 5vw;
  }

  h4 {
    font-size: 2.5rem;
    margin-left: 20vw;
  }

  nav {
    align-items: center;
    padding: 16px;
  }

  nav.scrolled {
    background-color: white;
    height: 40px;
    box-shadow: 0 4px 10px -1px rgba(0, 0, 0, 0.75);
  }

  nav.scrolled #nav-btns li a {
    color: rgba(0, 0, 0, 0.75);
  }

  #nav-btns {
    display: flex;
  }

  #nav-btns li {
    list-style: none;
    margin: 0 16px;
  }

  #nav-btns a {
    text-decoration: none;
    font-size: 1.5rem;
  }

  #nav-btns a:hover {
    color: #f0a202;
    text-decoration: none;
  }

  /* Dropdown */

  #nav-btns .dropdown-content a {
    font-size: 1.2rem;
    padding: 5px 5px 5px 5px;
  }

  #logo {
    height: 40px;
  }

  .menu-btn,
  .close-btn,
  .mobile-nav {
    display: none;
  }

  /* Section */
  section {
    padding: 40px;
    display: flex;
  }

  section .thumbnail img {
    height: 400px;
    padding: 40px 0 0 40px;
  }

  /* Landing */
  .main-video {
    display: unset;
    width: 100%;
    position: absolute;
    z-index: -100;
    display: flex;
    align-self: flex-start;
  }

  /* Contents */
  /* .container {
    grid-template-columns: auto auto auto;
    gap: 3vh;
    padding: 0 1vh 0 1vh;
  } */

  /* Explore */
  #mobile-explore {
    display: none;
  }

  #explore {
    display: unset;
  }

  .explore-gallery .active-explore {
    width: 284px;
  }

  .explore-gallery .img-card {
    width: 140px;
  }

  .explore-gallery .active-explore img,
  .explore-gallery .img-card img {
    width: 100%;
    border: 1px solid var(--cl-sp-text);
  }

  .active-img-desc {
    position: unset;
    bottom: 3%;
    left: 16px;
    right: 16px;
    background-color: #1f0318;
    border: 1px solid var(--cl-sp-text);
    padding: 16px;
  }

  .explore-gallery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .explore-gallery .img-card {
    margin: 2px;
    cursor: pointer;
  }

  .explore-gallery .img-card img:hover {
    border-color: var(--cl-decoration-1);
  }

  .explore-gallery .img-card .img-desc {
    display: none;
  }

  .active-explore {
    position: relative;
    margin: 50px auto 50px;
  }

  .explore-gallery .active-explore {
    width: 85%;
  }

  .active-explore img,
  .explore-gallery .img-card img {
    border: 2px solid #ece2d0;
  }

  .active-img-desc {
    position: absolute;
  }

  .explore-gallery .img-card {
    width: 15%;
    margin: 8px;
    cursor: pointer;
  }

  .explore-gallery .img-card:hover {
    width: 18%;
  }

  /* Contact Form */

  .contact form {
    width: 50%;
    margin-top: 50px;
  }

  /* Footer*/

  .social-icons {
    margin: 16px;
    font-size: 32px;
  }
}
/* HD screens--------------------------------------------------------*/
@media only screen and (min-width: 1280px) {
  header {
    height: 70vh;
  }

  /* Explore Grid ------------------------------------------------------*/

  .explore-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.4fr 1fr 1fr 1fr;
  }

  .explore-gallery h2 {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 100%;
    max-height: 50px;
  }

  #ele-1 {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
  }

  .active-explore {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  #ele-2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  #ele-3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  #ele-4 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
  }

  #ele-5 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
  }

  #ele-6 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
  }

  #ele-7 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
  }

  #ele-8 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 5;
  }

  #ele-9 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  #ele-10 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .explore-gallery .active-explore {
    width: 90%;
    margin: 0px auto 10px auto;
  }

  .explore-gallery .img-card,
  .active-explore {
    width: 95%;
    padding: 0 5px 0 5px;
  }

  .explore-gallery .img-card:hover {
    width: 100%;
  }
}
/* 4k screens -------------------------------------------------------- */
@media only screen and (min-width: 1900px) {
  .wrapper {
    max-width: 1800px;
  }

  header {
    height: 100vh;
  }

  #logo {
    height: 60px;
  }

  .scrolled #logo {
    height: 40px;
    transition: var(--st-trans);
  }
}
