<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/789b413aa4.js" crossorigin="anonymous"
    ></script>
    <link href="../../assets/css/main.css" rel="stylesheet" />
    <meta name="description" content="Eternity of Magic (EOM). An epic fantasy world building project." />
    <meta name="keywords" content="Epic fantasy, online audiobook, eternity of magic, clouds and spaceships" />
    <meta name="author" content="Eugen Jonathan" />
    <title>The Northeast</title>
</head>
<body>
    <nav>
        <div id="logo">
            <a href="#">
            <img src="../../assets/icons/cns_logo_draft.png" alt="EOM Logo" />
            </a>
        </div>        
        <div class="dropdown" id="nav-btns">
            <li><a href="../../index.html#about">About</a></li>
            <div class="dropdown-btn">
            <li><a href="../../index.html#explore">Explore</a></li>
            <div class="dropdown-content">
                <a href="../../index.html#explore">The Realm</a>
                <a href="../../index.html#storylines">Storylines</a>
                <a href="../../index.html#characters">Characters</a>
            </div>
            </div>
            <li><a href="../../index.html#contact">Contact</a></li>
        </div>
        

        <div class="menu-btn">
            <i class="fas fa-bars"></i>
        </div>

        <div class="close-btn">
            <i class="fas fa-times"></i>
        </div>

        <ul class="mobile-nav">
            <li><a href="../../index.html#about"><i class="fas fa-info-circle"><span></span>Info</span></i></a></li>
            <li><a href="../../index.html#explore"><i class="fas fa-globe"><span>Explore</span></i></a></li>
            <li><i><a href="../../index.html#explore">The Realm</a></i></li>
            <li><i><a href="../../index.html#storylines">Storylines</a></i></li>
            <li><i><a href="../../index.html#characters">Characters</a></i></li>
            <li><a href="../../index.html#contact"><i class="fas fa-envelope"><span>Contact</span></i></a></li>
        </ul>

    </nav>
    <section>

    </section>
    <!--Footer-->
    <footer>
        <div class="social">
          <div class="social-icons">
            <a href="https://www.youtube.com/channel/UCKDuRjaYhb4UWN3QNYEC_Ig"><i class="fab fa-youtube"></i></a>
            <a href="https://www.facebook.com/EternityOfMagic/"><i class="fab fa-facebook"></i></a>
            <a href="https://www.instagram.com/theeternityofmagic/"><i class="fab fa-instagram"></i></a>
            <a href="https://twitter.com/EternityOM"><i class="fab fa-twitter"></i></a>
            <a href="https://github.com/Marian-L-M/CloudsAndSpaceships"><i class="fab fa-github"></i></a>
            <a href="https://eternityofmagic.fandom.com/wiki/An_Eternity_of_Magic_Wiki"><i class="fandom"><span>Fandom</span></i></a>
            <a href="https://www.deviantart.com/theeternityofmagic"><i class="deviantart"><span>DeviantArt</span></i></a>
  
        </div>
        <p>Website by <a href="www.marian-maschke.com">Marian Maschke</a></p>
        <p><a href="../Views/privacy.html">Privacy Policy</a></p>
      </footer>
</body>
<script src="../../assets/js/main.js"></script>
</html>